# Porta do Servidor Express
PORT=3000

# String de Conexão com o Neon DB (PostgreSQL)
# Obtenha no painel do Neon DB: Dashboard > Connection Details > Connection string
DATABASE_URL=postgresql://usuario:senha@ep-exemplo-123456.us-east-2.aws.neon.tech/neondb?sslmode=require